@import "../../index.scss";

.board-wrap {
  height: 475px;
  width: 510px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #0c1616;
  background: linear-gradient(
    154deg,
    rgba(23, 85, 83, 0.7) 0%,
    rgba(67, 217, 173, 0.09) 100%
  );
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3) inset;
  backdrop-filter: blur(32px);

  padding: 15px;

  &::before {
    content: " ";
    position: absolute;
    z-index: -1;
    transform: rotate(-94.305deg);
    width: 454px;
    height: 492px;
    opacity: 0.4;
    filter: blur(87px);
    top: -35%;
    right: 45%;
    background: url("../../assets/left-blur.svg") center center no-repeat;
  }
  &::after {
    content: " ";
    position: absolute;
    left: 50%;
    bottom: -20%;
    opacity: 0.4;
    z-index: -1;
    width: 454px;
    height: 492px;
    filter: blur(87px);
    transform: rotate(13.508deg);
    background: url("../../assets/right-blur.svg") center center no-repeat;
  }
  .top-left,
  .top-right,
  .bottom-left,
  .bottom-right {
    position: absolute;
    padding: 5px;
  }
  .top-left {
    top: 0;
    left: 0;
  }
  .top-right {
    top: 0;
    right: 0;
  }
  .bottom-left {
    bottom: 0;
    left: 0;
  }
  .bottom-right {
    bottom: 0;
    right: 0;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(3, calc((510px - 30px) / 3));
  grid-gap: 5px;
  padding: 5px;
  border-radius: 8px;
  height: 100%;

  border-radius: 8px;
  background: rgba(1, 22, 39, 0.84);
  box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
}

.square {
  font-size: 35px;
  height: 100%;
  color: white;
  background-color: rgba(1, 22, 39, 0.84);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  background-color: rgba(67, 217, 173, 1);
}

.square:focus {
  background-color: rgba(67, 217, 173, 1);
}

.square.X {
  color: #ff7f50;
}

.square.O {
  color: #1e90ff;
}

.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  width: 100%;
  background: rgba(1, 22, 39, 0.94);
  box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;

  color: $accentColor2;
  text-align: center;
  padding: 10px 0;
}
