@import "../../../index.scss";

.presentation-container {
  display: flex;
  flex-direction: column;
  .selection {
    text-transform: capitalize;
    border-bottom: 1px solid $lineColor;
    @media screen and (max-width: 1024px) {
     display: none;
    }
    div {
      padding: 10px;
      color: $secondaryColor1;
      max-width: 150px;
      border-right: 1px solid $lineColor;
    }
  }
  .inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    .line {
      display: flex;
      gap: 40px;
      align-items: center;
      padding: 0 20px;
      span {
        color: $secondaryColor1;
      }
      pre {
        padding: 0;
        margin: 0;
      }
    }
  }
}
