@import "../../index.scss";

.page-wrapper {
  width: 100%;

  margin: 0 auto;
  height: 100%;
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      margin: 0;
    }
    h2 {
      color: $secondaryColor3;
    }
    span {
      color: $secondaryColor1;
    }
  }
}
