@import "../../index.scss";
header {
  display: grid;
  grid-template-columns: minmax(0, 350px) 1fr auto;

  align-items: center;

  border-bottom: 1px solid $lineColor;

  @media screen and (max-width: 1024px) {
    grid-template-columns: auto 1fr;
  }

  .hamburger-react,
  span {
    color: $secondaryColor1;
  }
  .hamburger-react {
    justify-self: flex-end;
  }
  span {
    padding: 0 20px;
  }

  a {
    padding: 15px 20px;

    text-decoration: none;
    color: $secondaryColor1;
    &.active {
      border-bottom: 2px solid $accentColor1;
    }
  }
  nav {
    ul {
      height: 100%;

      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        height: 100%;

        border-width: 0 1px;
        border-color: $lineColor;
        border-style: solid;
        display: flex;
      }
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        li {
          width: 100%;

          &:not(:first-of-type) {
            border-width: 1px 0;
          }
        }
      }
    }
  }
}
