@import "../../index.scss";
.sidebar {
  position: fixed;
  top: 50px;
  right: -100%; /* Start off-screen */
  height: 100%;
  width: 100%;
  max-width: 475px;
  background-color: $primaryColor2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1;
  &.open {
    right: 0;
  }
}
