@import "../../index.scss";
.contacts-wrapper {
  flex: 1;
  .info-panel {
    display: flex;
    flex-direction: column;
    width: 100%;

    border-width: 0 1px;
    border-style: solid;
    border-color: $lineColor;

    .upper {
      display: flex;
      gap: 5px;
      width: 100%;
      padding: 10px;
      &:first-of-type {
        border-bottom: 1px solid $lineColor;
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    @media screen and (max-width: 1024px) {
      display: unset;
    }

    .snippet {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1024px) {
        display: none;
      }
      .line {
        display: flex;
        gap: 40px;
        align-items: center;
        padding: 0 20px;
        .index {
          color: $secondaryColor1;
        }
        pre {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
